body {
  background-image: url("../images/background.png");
  background-size: cover; }

.hidden {
  display: none; }

.start-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 730px; }
  .start-screen-container .fight {
    font-size: 60px;
    margin-top: -80px;
    margin-bottom: 90px;
    margin-right: -95px;
    align-self: flex-end;
    color: white;
    font-family: 'Press Start 2P', cursive; }
  .start-screen-container .start {
    margin-top: 80px;
    color: #B46F9B;
    padding: .5em 1.75em;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid rgba(147, 128, 108, 0.25);
    background-color: #6E0047; }
    .start-screen-container .start:hover {
      color: #fff;
      background-color: #964175; }

.start-screen-logo {
  display: block;
  flex: 1;
  margin-left: -50px; }

.choose-figher {
  margin: 20px 0;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px; }

.characterbox li {
  list-style: none; }
  .characterbox li span {
    color: white; }

.characterbox {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }
  .characterbox li {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    margin: 10px;
    border: 2px solid white; }

.mordecai {
  padding: 5px;
  background-image: url("../images/mordecai.png");
  background-size: cover;
  cursor: pointer; }
  .mordecai:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .mordecai span {
    padding-top: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.mordecai-background {
  background-image: url("../images/mordecai.png");
  background-size: cover; }

.rigby {
  padding: 5px;
  background-image: url("../images/rigby.png");
  background-size: cover;
  background-position: center center;
  cursor: pointer; }
  .rigby:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .rigby span {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.rigby-background {
  background-image: url("../images/rigby.png");
  background-size: cover;
  background-position: center center; }

.benson {
  padding: 5px;
  background-image: url("../images/benson.png");
  background-size: cover;
  cursor: pointer; }
  .benson:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .benson span {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.benson-background {
  background-image: url("../images/benson.png");
  background-size: cover; }

.pops {
  padding: 5px;
  background-image: url("../images/pops.png");
  background-size: cover;
  background-position: 25% 41%;
  cursor: pointer; }
  .pops:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .pops span {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.pops-background {
  background-image: url("../images/pops.png");
  background-size: cover;
  background-position: 25% 41%; }

.skips {
  padding: 5px;
  background-image: url("../images/skips.png");
  background-size: cover;
  cursor: pointer; }
  .skips:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .skips span {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.skips-background {
  background-image: url("../images/skips.png");
  background-size: cover; }

.muscleman {
  padding: 5px;
  background-image: url("../images/muscleman.png");
  background-size: cover;
  background-position: 1%;
  cursor: pointer; }
  .muscleman:hover {
    background-color: rgba(180, 111, 155, 0.45); }
  .muscleman span {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; }

.muscleman-background {
  background-image: url("../images/muscleman.png");
  background-size: cover;
  background-position: 1%; }

.player-box-container {
  display: flex;
  padding: 0;
  flex-direction: row;
  /*   align-items: center;
  justify-content: center */
  margin: 0 auto;
  width: 900px; }

#selected-character {
  display: inline-block;
  margin: 10px auto 25px;
  position: relative;
  padding: 5px;
  align-self: flex-start;
  background-color: green;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border: 2px solid white; }

.vs-character-select {
  margin-top: 140px;
  margin-left: 53px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 80px; }

.opponent-character {
  display: inline-block;
  margin-top: 10px;
  margin-left: 38px;
  padding: 5px;
  align-self: flex-end;
  background-color: red;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border: 2px solid white; }

#fight-button {
  display: block;
  margin: 0 auto;
  position: relative;
  color: #B46F9B;
  padding: .5em 1.75em;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  border: 1px solid rgba(147, 128, 108, 0.25);
  background-color: #6E0047; }
  #fight-button:hover {
    color: #fff;
    background-color: #964175; }

.fight-box-container {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

#selected-character-fight {
  display: inline-block;
  padding: 5px;
  align-self: flex-start;
  background-color: green;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border: 2px solid white; }

.opponent-character-fight {
  display: inline-block;
  padding: 5px;
  align-self: flex-end;
  background-color: red;
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border: 2px solid white; }

/*# sourceMappingURL=main.css.map */
